# Git and OS files
.git
.DS_Store
!server/*.json 

# Secrets
.env
server/.env

# VSCode
.vscode/

# Python
__pycache__/
*.pyc

# Virtual Environment
.venv/
server/.venv/

# Tests & Infrastructure
server/tests/
pytest.ini
.github/

# Client folder
client/