# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code Editor
.vscode/

# Virtual Environment
venv/

# Secrets and Credentials
.env
crypto-groove-469515-c3-2dfaa6de654d.json

# Learning files
learning/