# Operating System files
.DS_Store
Thumbs.db

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code Editor
.vscode/

# Virtual Environment
venv/

# Secrets and Credentials
.env
applyai-475622-6ebc0281eea9.json

# Learning files
learning/